<div class="secao1">

    <div class="secao1um">

        <h1 class="primtitle">
            Bem-Vindo
        </h1>

        <p class="primsub">
            Somos a YachtLife, loja do mercado de embarcações mais luxuosas do mundo!
        </p>

        <div class="container-fluid">

            <div class="conteudo1">

                <div class="row">

                    <div class="col-sm-6">
                        <img class="sunset" src="/public/img/content-creation-agency-sydney.jpg" alt="yacht"
                            width="600">
                    </div>

                    <div class="col-sm-6">
                        <p class="primtexto">
                            Nosso compromisso é prover aos nossos clientes uma
                            </br>
                            experiência diferenciada com o aluguel e venda de
                            embarcações
                            luxuosas. Cuidamos de todo o processo,
                            desde o primeiro
                            contato do cliente com o site, até
                            a entrega da embarcação.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="carrosel">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url(/public/img/yacht1upd.jpg);">
                    <div class="conteudo-carousel">
                        <button type="button" class="botao" onclick="window.open('embarcacoes')" >Conheça nossas embarcações!</button>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(/public/img/yacht2.jpg);">
                    <div class="conteudo-carousel">
                        <p class="textmin">Os melhores yachts do mundo...</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(/public/img/yacht3.jpg);">
                    <div class="conteudo-carousel">
                        <p class="textmin">na palma da sua mão!</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
</div>

<%- contentFor("head") %>

    <style>
        .col-sm-6 {
            text-align: center;
        }

        .carousel-item {
            background-position: center;
            background-size: cover;
        }

        .conteudo-carousel {
            min-height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .primtitle {
            text-align: center;
            color: rgb(202, 190, 13);
            font-weight: bold;
            font-family: 'Aboreto', cursive;
            font-family: 'Cinzel', serif;
            font-family: 'Fjalla One', sans-serif;
            font-family: 'Josefin Sans', sans-serif;
        }

        .primsub {
            text-align: center;
            margin-top: 15px;
            color: rgb(202, 190, 13);
            font-weight: bold;
            font-family: 'Aboreto', cursive;
            font-family: 'Cinzel', serif;
            font-family: 'Fjalla One', sans-serif;
            font-family: 'Josefin Sans', sans-serif;
        }

        .conteudo1 {
            margin-top: 30px;
        }

        .primtexto {
            margin-top: 110px;
            font-size: 23px;
            font-family: 'Aboreto', cursive;
            font-family: 'Fjalla One', sans-serif;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bold;
        }

        .secao1um {
            background-color: rgb(236, 235, 235);
            padding-top: 20px;
            padding-bottom: 30px;

        }

        .sunset {
            border-radius: 10px;
        }

        .carrosel-inner {
            max-height: 50px;
        }

        .botao {
            background-color: black;
            color: gold;
            padding: 7px 15px;
            width: fit-content;
            border-radius: 40px;
            font-size: 35px;
            font-family: 'Aboreto', cursive;
            font-family: 'Fjalla One', sans-serif;
            font-family: 'Josefin Sans', sans-serif;
        }

        .textmin {

            font-size: 40px;
            color: gold;
            font-weight: bold;
            margin-bottom: 400px;
            font-family: 'Aboreto', cursive;
            font-family: 'Josefin Sans', sans-serif;
        }
    </style>