<div class="secao1">

    <div class="secao1um">

        <h1 class="primtitle">
            Bem-Vindo
        </h1>

        <p class="primsub">
            Somos a YachtLife, loja do mercado de embarcações mais luxuosas do mundo!
        </p>

        <div class="container-fluid">

            <div class="conteudo1">

                <div class="row">

                    <div class="col-sm-6">




                        <img class="sunset" src="/public/img/content-creation-agency-sydney.jpg" alt="yacht" width="600">



                    </div>
                    <div class="col-sm-6">


                        <p class="primtexto">
                           Nosso compromisso é prover aos nossos clientes uma
                           experiência diferenciada com o aluguel e venda de
                           embarcações luxuosas. Cuidamos de todo o processo,
                           desde o primeiro contato do cliente com o site, até
                           a entrega da embarcação.
                        </p>


                    </div>



                </div>

            </div>

        </div>

    </div>

    <div class="carrosel">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/public/img/yacht1upd.jpg" class="d-block w-100" alt="yacht1img" width="">
                    <div class="carousel-caption d-none d-md-block">
                            
                            <button type="button" class="botao" href="embarcacoes.ejs">Conheça nossas embarcações!</button>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/public/img/yacht2.jpg" class="d-block w-100" alt="yacht2img" width="">
                    <div class="carousel-caption d-none d-md-block">                          
                        <p class="textmin">Os melhores yachts do mundo...</p>
                        </div>
                </div>
                <div class="carousel-item">
                    <img src="/public/img/yacht3.jpg" class="d-block w-100" alt="yacht3img" width="">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="textmin">na palma de sua mão!</p>
                        </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>



        </div>

    </div>
</div>

<%- contentFor("head") %>
<style>
    .limitador {
        max-width: 2000px;
        margin: 0px auto;
    }

    .primtitle {
        text-align: center;
        color: rgb(202, 190, 13);
        font-weight: bold;
    }

    .primsub {
        text-align: center;
        margin-top: 15px;
        color: rgb(202, 190, 13);
        font-weight: bold;
    }

    .conteudo1 {
        margin-top: 30px;
    }

    .primtexto {
        margin-top: 150px;
        margin-left: 50px;
    }



    .dababy {
        padding: 2px 10px;
        background-color: black;
        color: white;

    }

    .logo1 {
        margin-right: 85px;
    }

    .secao1um {
        background-color: rgb(236, 235, 235);
        padding-top: 20px;
        padding-bottom: 30px;

    }

    .sunset {
        border-radius: 10px;
        margin-left: 60px;
    }

    .carrosel-inner {
        max-height: 50px;
    }

    .nav-link {
        font-size: 30px;
        margin-left: 65px;
        text-decoration: none;
        text-align: center;
        margin-right: 50px;

    }

    .lgsite2 {
        margin-top: 8px;
    }

    .social {
        margin-left: 430px;
        margin-top: 8px;
    }

    .botao{
        background-color: black;
        color: gold;
        padding: 5px 10px;
        width: fit-content;
        border-radius: 40px;
        font-size: 50px;
        margin-bottom: 170px;
    }

    .textmin{

        font-size: 40px;
        color: gold;
        font-weight: bold;
    }

    
</style>
